.sidenav{
    background-color: #3f51b5;
    width: 150px;
}

.sidenav a{
    color: rgb(209, 208, 208);
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding:  16px;
    background-color: #fff;
}